$resume-padding: 40px;

// widths
$width-mobile-portrait: 320px;
$width-mobile-landscape: 500px;
$width-tablet: 768px;

$width-container-desktop: 1400px;
$width-container-tablet:  700px;
$width-container-mobile:  300px;

// breakpoints
$breakpoint-desktop: $width-tablet+1;
$breakpoint-tablet:  $width-mobile-portrait+1 $width-tablet;
$breakpoint-mobile-portrait:  max-width $width-mobile-portrait;
$breakpoint-mobile-landscape:  max-width $width-mobile-landscape;

.resume {
  color: $md-grey-800;
  font-size: .94rem;
  line-height: 1.3rem;
  min-width: 300px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $md-grey-800;
    font-weight: normal;
    margin-bottom: 4px;
  }

  h1 {
    border-bottom: solid 2px $md-teal-800;
    margin-top: 2rem;
    padding-bottom: 1rem;
    width: 40%;
  }

  h2 {
    border-bottom: solid 2px $md-teal-600;
    margin-top: 2rem;
    padding-bottom: .6rem;
    white-space: nowrap;
    width: 30%;
  }

  h3 {
    border-bottom: solid 2px $md-teal-400;
    width: 20%;
  }

  h4 {
    color: $md-teal-400;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 0 0 2px;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  a {
    color: $md-teal-400;
    text-decoration: none;
  }

  a:active,
  a:focus,
  a:hover {
    color: $md-teal-400;
    text-decoration: underline;
  }

  .resume-body {
    padding: 0 $resume-padding;
  }

  p {
    margin: .8rem 0;
  }

  blockquote {
    border-left: solid 2px $md-grey-200;
    color: $md-grey-500;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: italic;
    margin-left: 0;
    max-width: 50%;
    padding: 20px;
  }

  ul {
    color: $md-teal-400;
    list-style-type: square;
    margin: .5rem 0 .5rem 20px;
    padding-left: 0;
  }

  li {
    padding: 2px 0;

    span {
      color: $md-grey-800;
      display: block;
      margin-left: -6px;
    }
  }

}
