@import 'compass';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,500,400italic);
@import url(http://fonts.googleapis.com/css?family=Codystar);

body,
html {
  font-family: 'Lato', sans-serif;
}

a {
  color: #008cba;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #008cba;
  text-decoration: underline;
}

$header-elements: (h1, h2, h3, h4, h5, h6);

@each $header-element in $header-elements {
  #{$header-element} a {
    color: inherit;
    text-decoration: none;
  }

  #{$header-element} a:active,
  #{$header-element} a:focus,
  #{$header-element} a:hover {
    text-decoration: none;
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  width: 90%;
  margin: 3rem 0 .875rem;
  height: 0;
}

.menu-spacer {
  background: $md-light-blue-500;
  height: 80px;
  width: 90%;
}

.site {
  padding: 10px;
}

.menu {
  color: white;
  position: relative;
  top: 40px;
  font-size: 1.8rem;
  padding-left: 4px;

  a {
    color: inherit;

    &.active {
      color: #555;
    }
  }

  a:active,
  a:focus,
  a:hover {
    color: #555;
  }
}

.site-sections,
.social-items {
  display: inline;
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    margin: 0 2px;
  }
}

$brand-colors: (
  facebook: #3b5998,
  instagram: #92634f,
  linkedin: #007bb6,
  rdio: #0090D5,
  twitter: #00aced,
  youtube: #cd201f
);

.social {
  color: $md-grey-800;
  font-size: 1.4rem;
}

@each $brand, $brand-color in $brand-colors {
  a.#{$brand}:active,
  a.#{$brand}:focus,
  a.#{$brand}:hover {
    color: $brand-color;
  }
}
