.blog {
  margin: 4rem;

  article {
    font-size: 1.05rem;
    margin-top: 1rem;
  }

  img {
    @include common-box-shadow;
    max-width: 800px;
  }

  .meta {
    font-size: .9rem;
    color: $md-grey-700;
  }

  .blog-article {
    margin-bottom: 4rem;
  }
}
