.blog-summary {
  margin: 0 0 1rem;
  @include common-box-shadow;

  .summary {
    padding: 1rem;
  }

  article {
    margin-top: .5rem;

    p {
      margin-bottom: .2rem;
    }
  }

  img {
    width: 100%;
    max-width: initial;
  }
}
