{{#if hasImage}}
  {{#link-to 'blog.article' article}}
    <img src="{{article.mainImageSrc}}" alt="Japan">
  {{/link-to}}
{{/if}}
<div class='summary'>
  <h1 class='blog-summary-title'>
    {{#link-to 'blog.article' article class='blog-summary-title-link'}}{{article.title}}{{/link-to}}
  </h1>
  <div class='meta'>
    <time>{{moment article.publishedAt 'MMM Do, YYYY'}}</time>
  </div>
  {{#if showDetails}}
    <article>{{format-markdown article.summary}}</article>
    {{#link-to 'blog.article' article}}Read more{{/link-to}}
  {{/if}}
</div>