<div class='name'>
  {{#link-to 'site'}}
  <span class='first-name'>Chris</span> <span class='last-name'>LoPresto</span>
  {{/link-to}}
</div>
<div class='callout'>
  As of {{moment-format now 'YYYY.MM.DD' ''}}
</div>