.blog-summary {
  @include common-box-shadow;
  margin: 0 0 1rem;

  .summary {
    padding: 1rem;
  }

  h1 a:active,
  h1 a:focus,
  h1 a:hover {
    color: $link-color;
  }

  article {
    margin: .5rem 0;

    p {
      margin-bottom: .2rem;
    }
  }

  img {
    max-width: initial;
    width: 100%;
  }
}

.blog-summary-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.blog-summary-title-link {
  font-weight: bold;
}
