.resume-education-item {
  margin: 20px 0;

  .education-item {
    @include grid-row;
  }

  .logo {
    @include grid-column(1/6);

    img {
      width: 90%;
    }
  }

  .where {
    @include grid-column(4/6);
  }

  .when {
    @include grid-column(1/6);
    margin-top: 0;
  }

  p {
    margin: 0;
    padding-bottom: 4px;
  }

  .rutgers {
    color: $rutgers;
  }

  .salesianum {
    color: $salesianum;
  }
}

