<p>Plyfe is a marketing platform that allows brands to publish interactive experiences to their web properties. Customers use the Plyfe builder tool to create embeddable widgets for personality quizzes, video polls, trivia, Instagram galleries, and the like. The platform provides real-time data analysis and reporting of user activity.</p>
<p>As the technical co-founder, I started building Plyfe from scratch in September 2011. We have continously deployed our web platform to Amazon cloud infrastructure since that time. We built up a team of 8 - 10 engineers that runs one-week sprints and continously integrates features using GitHub Flow (a modified form of git-flow).</p>
<p>Plyfe widgets, a dynamically composed suite of Ember.js applications, communicate with versioned Plyfe APIs that adhere to the JSON API spec. A dynamic theme API allows customers to customize the look and feel of their widgets (no CSS files actually touch a disk). Plyfe environments are automatically provisioned with Chef via Amazon OpsWorks APIs. We trigger manual operations commands via Slack channels.</p>

<h4>Technologies</h4>
<div class='things'>Ruby. Rails. Ember.js. SCSS. Chef. Redis. MySQL. NGINX. Git. Amazon Web Services: OpsWorks, EC2, RDS, S3, CloudFront, ElastiCache.</div>

<h4>Services</h4>
<div class='things'>GitHub. Asana. Slack. Travis CI. Code Climate. Mixpanel. Pusher. Social APIs: Facebook, Twitter, Instagram, Foursquare, LinkedIn, Google.</div>