<h2>Elegant and Tasteful</h2>
<p>One evening several years ago I was out at a pub discussing old Fresh Prince episodes with some good friends, as you do. When we stumbled upon the phrase "elegant and tasteful," I immediately registered <a href='http://elegantandtasteful.com'>elegantandtasteful.com</a>. If we work together, the invoices will say <em>Elegant and Tasteful</em> on them.</p>